@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

ul[data-type="taskList"] {
    list-style: none;
    padding-left: 0;
  }
  
  ul[data-type="taskList"] li {
    display: flex;
  }
  
  ul[data-type="taskList"] li > label {
    flex: 0 0 auto;
    margin: 0;
    margin-right: 0.75rem;
    user-select: none;
  }
  
  ul[data-type="taskList"] li[data-checked="false"] > div > p {
    text-decoration: none;
  }
  
  ul[data-type="taskList"] li[data-checked="true"] > div > p {
    text-decoration: line-through;
  }
  
  .prose :where(.prose > ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .prose :where(.prose > ul > li > *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .prose :where(.prose > ul > li p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .prose :where(.prose > ol > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .prose :where(.prose > ol > li > *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .prose :where(.prose > ol > li p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .tiptap > * + * {
    margin-top: 0.75em;
  }
  
  .mention {
    border: 1px solid #000;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }
  
  .tippy-content .items {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    overflow: hidden;
    padding: 0.2rem;
    position: relative;
  }
  
  .tippy-content .item {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    display: block;
    margin: 0;
    padding: 0.2rem 0.4rem;
    text-align: left;
    width: 100%;
  }
  
  .tippy-content .item.is-selected {
    border-color: #000;
  }